* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #52AA5E;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: #002626;
  margin-bottom: 10px;
}

main {
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
}

.pokemon-container, .create-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  width: 225px;
  height: 30px;
  border-radius: 10px;
  background-color: #388659;
  color: white;
  margin: 5px;
}

button:hover {
  background-color: #002626;
  color: white;
  cursor: pointer;
}

.pokemon-card {
  width: 250px;
  min-height: 325px;
  border-radius: 20px;
  box-shadow: 4px 4px 12px #388659;
  padding: 12px;
}

.pokemon-card img {
  width: 100%;
}

.pokemon-card div label input {
  display: block;
}